h1 {text-align: center;}
body {background-color:khaki;text-decoration: none;}
a:link {color:blue;text-decoration: none;}
a:visited {color:red;text-decoration: none;}
a:hover {color:rgb(84, 247, 236);text-decoration: none;}
